.feature-icon {
     width: 4rem;
     height: 4rem;
     border-radius: .75rem;
}
.subdropdown{
     opacity: 0;
     transition: 0.4s;
     position: absolute;
     visibility: hidden;
}
ul.nav li:hover .subdropdown{ opacity: 1; visibility: visible; }

   